{% extends "cesiumproject/base.html" %}
{% load static %}

{% block app_content %}

<!-- Button trigger modal -->


<body>
  <div id='map'></div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" id='modal-content'>
        <div class="modal-header" id='modal-header'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <body>
            <p id="figure"></p>
            <div id="item-info">
              <div class='row'>
              <div class='column'>
                <h6 id='id-block'></h6>
                <h6 id='lonlat'></h6>
                <h6 id='continent'></h6>
                <h6 id='country'></h6>
                <h6 id='volume'></h6>
                <h6 id='src'></h6>
                <h6 id='dis'></h6>
                <h6 id='elevation'></h6>
                <h6 id='wshd'></h6>
              </div>
              <div class='column'>
                <h6 id='pLongLat'></h6>
                <h6 id='area'></h6>
                <h6 id='length'></h6>
                <h6 id='dev'></h6>
                <h6 id='res'></h6>
                <h6 id='depth'></h6>
                <h6 id='time'></h6>
                <h6 id='slope'></h6>
            </div>
          </div>
          </body>
        </div>
        <div class="modal-footer">
          <a id='csv-link'><button type='button' class='btn btn-default' id='csv-button' download>CSV</button></a>
          <button type="button" class="btn btn-default" id="pdf-button">PDF</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block app_actions_override %}{% endblock %}

{% block content_dependent_styles%}
  {{block.super}}
  <!-- Include the openlayers css styles so they will actually work-->
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.106/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  {% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Include these scripts to access the openlayers library and the plotly library in the Javascript -->
  <script src="{% static 'cesiumproject/js/plotly.js' %}" charset="utf-8" type='text/javascript'></script>
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.106/Build/Cesium/Cesium.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  
  <script>
    //Make a variable for the data that is being passed to the javascript file from the controller's context that renders this specific page
    var myData = {{ jData|safe }};
  </script>   
  <script src="{% static 'cesiumproject/js/main.js' %}" type="text/javascript"></script>  
{% endblock %}


