*.yml filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.prj filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.gitkeep filter=lfs diff=lfs merge=lfs -text
/tethysapp_cesiumproject.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/tethysapp_cesiumproject.egg-info/not-zip-safe filter=lfs diff=lfs merge=lfs -text
/tethysapp/cesiumproject/polygons/DoD[[:space:]]SAFE-7bEwu4DkBM7HUoYZ/Cesium_stuff filter=lfs diff=lfs merge=lfs -text
*.cpg filter=lfs diff=lfs merge=lfs -text
*.qpj filter=lfs diff=lfs merge=lfs -text
/tethysapp/cesiumproject/polygons/Cesium_stuff filter=lfs diff=lfs merge=lfs -text
*.qmd filter=lfs diff=lfs merge=lfs -text
*.geojson filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
